<!DOCTYPE html>
<html>
  <head>
    <title>Hello Friend!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
   "<form method='post' action='/create'> 
				<label>ID:</label>
				<input type='number' name='id'>
				<label>Nombre:</label>
				<input type='text' name='name'>
				<label>Direccion:</label>
				<input type='text' name='address'>
				<input type='submit' value='crear'>
  </body>
</html>