<!DOCTYPE html>
<html>
  <head>
    <title>Sistema de Pagos</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
  	<div class="container">
  		<div class="jumbotron">
  			<center><h1>Bienvenido al Sistema de Registro de Empleados y Pagos</h1></center>
		</div>
		<center><p><a class="btn btn-primary btn-lg" href="/employees" role="button">Ingresar al Sistema</a></p></center>
  	</div> 
  </body>
</html>