<!DOCTYPE html>
<html>
  <head>
    <title>Pagina de Inicio</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
   	<h1>CI: ${employee.getEmployeeId()}</h1>
   	<h3>Nombre: ${employee.getName()}</h3>
   	<h3>Direccion: ${employee.getAddress()}</h3>
   	    
  </body>
</html>