<!DOCTYPE html>
<html>
  <head>
    <title>Empleado</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
  	<h1>Empleados</h1>
  	<ul>
	#foreach($employee in $Employees)
    	<li>${employee}</li>
	#end
	</ul>
  </body>
</html>