<!DOCTYPE html>
<html>
  <head>
    <title>Pagina de Inicio</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
  
  	<div class="container">
  		<div class="row">
  			<h1>Detalle de Empleado</h1>
		  	<hr />
		  	<br>
  		</div>
	  	<div class="row">
	  		<h3>CI: ${employee.getEmployeeId()}</h3>
		   	<h3>Nombre: ${employee.getName()}</h3>
		   	<h3>Dirección: ${employee.getAddress()}</h3>
  		</div><br>
  		
  		#if	(${employee.isHourlyPaymentClassification()})
  			<div class="row">
  			<h2>Pago Por Hora<h2><hr />
  			<h3>Monto Hora: ${employee.getPaymentClassification().getHourlyRate()}</h3>
  			
  			
  			<form method='post' action='/payHourly'>
  			<div class="row">
  				<div class="col-md-4">
  					<label for="">Día:</label>
				    <input type="number" name="day" class="form-control" id="" placeholder="1-31">
  				</div>
  				<div class="col-md-4">
  					<label for="">Mes:</label>
				    <input type="number" name="month" class="form-control" id="" placeholder="1-12">
  				</div>
  				<div class="col-md-4">
  					<label for="">Año:</label>
				    <input type="number" name="year" class="form-control" id="" placeholder="Ej: 2005">
  				</div>
  				<div class="col-md-4">
  					<label for="">Horas:</label>
				    <input type="number" name="hours" class="form-control" id="" placeholder="">
  				</div>
  				<div class="col-md-4">
				    <input type="hidden" value="${employee.getEmployeeId()}" name="employeeId">
  				</div>
			</div>
			</br>
			<button type="submit" class="btn btn-warning">  Registrar Horas  </button>
  			</form>
  		<br>
  		</div>
  		#end
  		#if	(${employee.isCommissionedPaymentClassification()})
  			<div class="row">
  			<h2>Pago por comisión<h2><hr />
  			<h3>Monto Semanal: ${employee.getPaymentClassification().getMonthlySalary()}</h3>
  			<h3>Comisión: ${employee.getPaymentClassification().getCommissionRate()}</h3>
  		<br>
  		</div>
  		#end
  		#if	(${employee.isSalariedClassification()})
  			<div class="row">
  			<h2>Salario Fijo<h2><hr />
  			<h3>Salario: ${employee.getPaymentClassification().getSalary()}</h3>
  		<br>
  		</div>
  		#end
  		
  		<div class="row">
	  		<a href="/employees" class=" ">
		  		<h4>Atrás</h4></a>
  		</div>
	  			
	  	
  	</div>
   	
   	
   	    
  </body>
</html>