<!DOCTYPE html>
<html>
  <head>
    <title>Pagina de Inicio</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
  
  	<div class="container">
  		<div class="row">
  			<h1>Detalle de Empleado</h1>
		  	<hr />
		  	<br>
  		</div>
	  	<div class="row">
	  		<h3>CI: ${employee.getEmployeeId()}</h3>
		   	<h3>Nombre: ${employee.getName()}</h3>
		   	<h3>Dirección: ${employee.getAddress()}</h3>
  		</div>
  		
  		<hr />
  		<br>
  		<div class="row">
	  		<a href="/employees" class=" ">
		  		<h4>Atrás</h4></a>
  		</div>
	  			
	  	
  	</div>
   	
   	
   	    
  </body>
</html>